<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="main">
        <div class="header">Header</div>
        <div class="middle">
            <div class="left">Left</div>
            <div class="right">
                <div class="up">
                    <div class="button"></div>
                    <div class="button"></div>
                    <div class="button"></div>
                </div>
                <div class="down">down</div>
            </div>
        </div>
        <div class="footer">Footer</div>
    </div>
</body>

</html>